{% extends "main.html" %}

{% block styles %}
{{ super() }}
  <style>
    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }

    /* make content full width */
    .md-main {
      position: relative;
    }
    .md-main__inner.md-grid {
      margin: 0 !important;
      position: absolute;
      max-width: 100%;
      width: 100%;
    }
    .md-content {
      height: 100%;
    }
    .md-content__inner {
      margin: 0;
      padding-top: 0;
      height: 100%;
    }
    .md-content__inner:before {
      display: none;
    }

    /* fix margining issues with sidebar after making content full width */
    .md-sidebar__inner {
      margin-left: 10px;
      margin-top: 10px;
      width: 9rem;
    }
    /*@media only screen and (min-width: 1220px) {
      .md-content {
        margin-right: 242px;
      }
    }*/

    /* hide footer on mobile for more vertical space */
    @media (max-width: 600px) {
      .md-footer {
        display: none;
      }
    }
  </style>
{% endblock %}

{% block content %}
  <iframe
    id="corescope"
    onload="this"
    src="https://corescope.chicagolandmesh.org/#/{{ page.url | replace('corescope', '') | trim('/') }}"
  ></iframe>

  <script>
    if (typeof document$ !== "undefined") {
      handleExternalLink();
    } else {
      document.addEventListener("DOMContentLoaded", handleExternalLink);
    }

    function handleExternalLink() {
      const link = document.querySelector('a[href="https://corescope.chicagolandmesh.org"]');
      const svg = document.createElementNS("http://www.w3.org/2000/svg", "svg");
      svg.setAttribute("viewBox", "0 0 24 24");
      svg.innerHTML = `<path d="M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z" />`;
      link.appendChild(svg);
      link.setAttribute("target", "_blank");
    }
  </script>
{% endblock %}
