{% extends "base.html" %}

{% block analytics %}
  <!-- Privacy-friendly analytics by Plausible -->
  <script async src="https://chicagolandmesh.org/assets/javascripts/analytics.js"></script>
  <script>
    window.plausible=window.plausible||function(){(plausible.q=plausible.q||[]).push(arguments)},plausible.init=plausible.init||function(i){plausible.o=i||{}};
    plausible.init({ endpoint: "https://chicagolandmesh.org/api/event" });
  </script>
{% endblock %}

{# DEBUG: #}
{#{% block announce %}
  {{ page.meta }}<br>
  {{ config.extra.map_js_bundle }}<br>
  {{ config.extra.map_css_bundle }}
{% endblock %}#}
