# development
DEV_BASE_URL=http://localhost
DEV_PORT=8080
DEV_TILES_URL=http://localhost:8080/tiles
DEV_TOKEN_SECRET=secret
DEV_DISCORD_CLIENT_ID= # dev map discord oauth client id
DEV_DISCORD_CLIENT_SECRET= # dev map disord oauth secret
DEV_DISCORD_CALLBACK_URL=http://localhost:8080/api/map/callback
