# caddy
CLOUDFLARE_API_TOKEN= # tls certificate dns challenge
DISCORD_INVITE_URL= # discord redirect
MESHVIEW_ADDR= # meshview backend

# map tiles
TILES_URL= # endpoint for map tiles (https://<domain>/tiles)

# map api
TOKEN_SECRET= # api jwt session secret (openssl rand -base64 48)
DISCORD_CLIENT_ID= # discord oauth client id
DISCORD_CLIENT_SECRET= # disord oauth secret
DISCORD_CALLBACK_URL= # discord oauth callback url (https://<domain>/api/callback)

# development
DEV_BASE_URL=http://localhost
DEV_PORT=8080
DEV_TILES_URL=http://localhost:8080/tiles
DEV_TOKEN_SECRET=secret
DEV_DISCORD_CALLBACK_URL=http://localhost:8080/api/callback
