# config, runtime data, & build output
/.env
/data/
/dist/

# environments & caches
.cache/
__pycache__/
.venv/
node_modules/

# map assets
docs/assets/javascripts/
docs/assets/stylesheets/map.*.css
docs/assets/fonts/
docs/assets/sprites/
docs/assets/images/gallery/preview/
