[data-md-color-scheme="slate"] {
    --md-primary-fg-color:  #111317;
    --md-primary-bg-color:  hsla(0, 0%, 100%, 1);
    /*--md-footer-bg-color:   #242526;*/
    --md-typeset-a-color: #337ab7;
    /*--md-accent-fg-color: #B3DDF2;*/
    --md-accent-fg-color: red;
}

[data-md-color-scheme="chicago-light"] {
    --md-primary-fg-color:  #B3DDF2;
    --md-accent-fg-color: red;
    /*--md-typeset-a-color: #B3DDF2;*/
    --md-typeset-a-color: #74c3eb;
    --md-primary-bg-color:  hsla(0, 0%, 100%, 1);
}

.md-header__topic {
    color: #ff2424;
}

.md-main__inner.md-grid {
    margin-top: 1%;
}

.md-content__inner.md-typeset {
    margin-bottom: 4em;
}

.glightbox img {
    border-radius: 10px;
}